/* PHONE-MENU*/

header span {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.6);
    overflow-x: hidden;
    transition: 0.5s;
    font-family: sf-pro-light;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
    color: gray;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


/* MEDIUM SCREENS */

@media screen and (max-width: 1008px) {
    /* HEADER */

    .topnav {
        display: none;
    }

    header span {
        background-color: #242424;
        display: block;
        height: 60px;
        font-family: sf-pro-medium;
    }

    header span p {
        color: white;
        font-size: 21px;
        padding-top: 17px;
        padding-left: 24px;
    }

    /* HOME */

    #home div {
        padding-top: 48px;
        padding-left: 96px;
        margin-bottom: 128px;
    }

    #home div h1 {
        font-family: sf-pro-medium;
        font-size: 32px;
        padding-bottom: 4px;
    }

    #home div p {
        font-family: sf-pro-light;
        font-size: 18px;
        color: #474747;
    }

    #home i {
        color: gray;
        margin-top: 96px;
        margin-bottom: 96px;
        margin-left: 372px;
        font-size: 32px;
    }
    
    #home i:hover {
        color: #474747;
    }

    /* ÜBER */

    #über h1 {
        font-family: sf-pro-medium;
        font-size: 38px;
        text-align: center;
        padding-top: 48px;
        padding-bottom: 32px;
    }

    #über div h2 {
        font-family: sf-pro-light;
        font-weight: normal;
        font-size: 18px;
        text-align: center;
        padding: 0;
        color: #474747;
    }

    #über h2 {
        text-align: center;
        font-family: sf-pro-light;
        padding-top: 30px;
        font-size: 21px;
        color: #474747;
    }

    .grid-über-maxim {
        padding-top: 96px;
        text-align: left;
    }

    .grid-über-maxim img {
        float: left;
        height: 256px;
        width: 256px;
    }

    .grid-über-johannes {
        padding-top: 96px;
        text-align: right;
    }

    .grid-über-johannes img {
        float: right;
        height: 256px;
        width: 256px;
    }

    /* PC SLIDESHOW */

    #pcs-slideshow {
        height: 768px;
    }

    #pcs-slideshow h2 {
        padding-bottom: 0;
    }

    /* KONTAKT */

    #kontakt {
        height: 768px;
    }

    #kontakt h1 {
        color: black;
        font-family: sf-pro-medium;
        font-size: 48px;
        text-align: center;
        padding-top: 196px;
    }

    #kontakt h2 {
        color: #474747;
        font-family: sf-pro-light;
        font-weight: normal;
        font-size: 21px;
        text-align: center;
        padding-top: 48px;
        padding-bottom: 128px;
    }

    #kontakt p {
        color: #474747;
        font-family: sf-pro-light;
        padding-left: 312px;
        font-size: 21px;
    }
}

@media screen and (max-width: 640px) {
    /* HEADER */

    .topnav {
        display: none;
    }

    header span {
        background-color: #242424;
        display: block;
        height: 60px;
        font-family: sf-pro-medium;
    }

    header span p {
        color: white;
        font-size: 21px;
        padding-top: 17px;
        padding-left: 24px;
    }

    /* HOME */

    #home div {
        padding-top: 48px;
        padding-left: 96px;
        margin-bottom: 128px;
    }

    #home div h1 {
        font-family: sf-pro-medium;
        font-size: 32px;
        padding-bottom: 4px;
    }

    #home div p {
        font-family: sf-pro-light;
        font-size: 18px;
        color: #474747;
    }

    #home i {
        color: gray;
        margin-top: 96px;
        margin-bottom: 96px;
        margin-left: 196px;
        font-size: 32px;
    }
    
    #home i:hover {
        color: #474747;
    }

    /* ÜBER */

    #über h1 {
        font-family: sf-pro-medium;
        font-size: 38px;
        text-align: center;
        padding-top: 48px;
        padding-bottom: 32px;
    }

    #über div h2 {
        font-family: sf-pro-light;
        font-weight: normal;
        font-size: 18px;
        text-align: center;
        padding: 0;
        color: #474747;
    }

    #über h2 {
        text-align: center;
        font-family: sf-pro-light;
        padding-top: 30px;
        font-size: 21px;
        color: #474747;
    }

    .grid-über-maxim {
        padding-top: 96px;
        text-align: left;
    }

    .grid-über-maxim img {
        display: none;
    }

    .grid-über-johannes {
        padding-top: 96px;
        text-align: right;
    }

    .grid-über-johannes img {
        display: none;
    }

    /* PC SLIDESHOW */

    #pcs-slideshow {
        display: none;
    }

    /* KONTAKT */

    #kontakt {
        height: 768px;
    }

    #kontakt h1 {
        color: black;
        font-family: sf-pro-medium;
        font-size: 48px;
        text-align: center;
        padding-top: 196px;
    }

    #kontakt h2 {
        color: #474747;
        font-family: sf-pro-light;
        font-weight: normal;
        font-size: 21px;
        text-align: center;
        padding-top: 48px;
        padding-bottom: 128px;
    }

    #kontakt p {
        color: #474747;
        font-family: sf-pro-light;
        padding-left: 128px;
        font-size: 21px;
    }

    /* FOOTER */

    .footer-info-box {
        padding-top: 36px;
        padding-left: 64px;
    }
}

/* FONTS */

@font-face {
    font-family: "sf-pro-medium";
    src: url("../fonts/SFProText-Medium.ttf");
}

@font-face {
    font-family: "sf-pro-light";
    src: url("../fonts/SFProText-Light.ttf");
}